h1{
    text-align: center
}

.container{
    width: 50%;
    background-color: aliceblue;
}

.item{
    height: 500px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 20px;
}

.item img{
    width: 30%;
    height: 30%;
}

.btn{ 
    text-align: center;
    width: 100%;
}

.btn button{
    background-color: rgb(76, 167, 76);
}

.btn button:hover{
    transform: scale(1.3);
}